.mainDiv {
  padding: 25px 5px 17px 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainSpan {
  background: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
}

.mainDiv:hover {
  cursor: pointer;
}